<div class="row">

    <div class="poke-table col-md-3 col-xs-12"
        *ngFor="let item of pokemons">
        <div class="card" style="width: 18rem;">
            <img *ngIf="!item.shiny" class="card-img-top" src="{{item.sprites.front_default}}" alt="Card image cap">
            <img *ngIf="item.shiny" class="card-img-top" src="{{item.sprites.front_shiny}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.name | uppercase}}</h5>
                <p class="card-text"><b>Type: </b>{{item.types[0].type.name}}</p>
            </div>
            <ul class="list-group list-group-flush" *ngFor="let stats of item.stats">
                <li class="list-group-item"><b>{{stats.stat.name | uppercase}}</b>: {{stats.base_stat}}</li>

            </ul>
            <div class="card-body">
                <a (click)="item.shiny = !item.shiny" class="card-link">Shiny Version</a>
            </div>
        </div>
    </div>

</div>
<footer>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
            <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
        </ul>
    </nav>
</footer>