.card{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

footer{
    text-align: end;
}
.card-link{
    color: #daa520;
    text-decoration: none;
}
svg{
    color: #daa520;
}

nav{
    margin-left: 85%;
}
.page-link{
        background-color: #dbb4ad;
        color: black;

}
.shiny{
    cursor: pointer;
    background-color: #fff;
}