
body {
    --text-color: rgb(26, 26, 26);
    --bkg-color: #fcd3d1;
    --btn-txt-color: white;
    --btn-bg-color: gray;
    --header-color: #750200;
    --h1-color: #eeee;
    --card-bg-color: rgba(255, 255, 255, 0.705);
}

body.dark-theme {
    --text-color: #343434;
    --bkg-color: black;
    --btn-txt-color: black;
    --btn-bg-color: white;
    --header-color: #3f0100;
    --card-bg-color:#eca4a4a4;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--bkg-color);
}

header {
    padding: 10px 0px;
    background-color: var(--header-color);
}
header h1 {
    color: var(--h1-color);
}
.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    padding: 1%;
}
.card {
    background-color: var(--card-bg-color);
}
.list-group-item{
    background-color: var(--card-bg-color);
    color: var(--text-color);
}
