/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body {
    --text-color: rgb(26, 26, 26);
    --bkg-color: #ffff;
    --btn-txt-color: white;
    --btn-bg-color: gray;
    --header-color: #b50300;
    --h1-color: #eeee;
    --card-bg-color: #ffff;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-txt-color: black;
    --btn-bg-color: white;
    --header-color: #3f0100;
    --card-bg-color:#dbb4ad;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--bkg-color);
    max-width: auto;
    margin: 0px;
    padding: auto;
    overflow-x: hidden;
}

header {
    padding: 10px 0px;
    background-color: var(--header-color);
}
header h1 {
    color: var(--h1-color);
}
.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    padding: 1%;
}
.card {
    background-color: var(--card-bg-color);
}
.list-group-item{
    background-color: var(--card-bg-color);
    color: var(--text-color);
}